.greeting_block{
    margin-bottom: 55px;   
    width: auto;
    height: 894px;
    background-image: url(http://localhost:3000/images/greeting_img.png);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50% 0%;
} 

.greeting_info{
    margin-bottom: 65px;
    padding-top: 247px;
    display: flex;
    flex-direction: column;
    color: var(--brand-color4);
}

.title{
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 800; 
    line-height: 70px;   
}

.info{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 22px;
    font-weight: 600;
}

.sale{
    padding: 15px 22px 25px 22px;
    border-radius: 10px;
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: var(--brand-color1);
}

.sale_info{
    margin-bottom: 18px;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    gap: 10px; 
}

.sale_title{
    font-size: 24px;
    font-weight: 800;
    color: var(--brand-color2);
}

.sale_text{
    font-size: 18px;
    font-weight: 600;
    color: var(--brand-color4);
}

.sale_date{
    font-size: 16px;
    font-weight: 400;
    color: var(--brand-color4);
}