.header{
    margin-bottom: -190px;
    padding-bottom: 15px;
    background-color: var(--brand-color1);
    opacity: 0.8;
}

.header_container{
    padding-top: 15px;
    border-bottom: 1px solid var(--brand-color2);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    color: var(--brand-color4);
}

.header_info{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));  
    grid-auto-rows:  90px;
    align-items: center;
}

.logo_wrapper{
    /* border-right: 1px solid var(--brand-color2); */
    display: flex;
    justify-content: flex-start;
}

.logo{
    padding-left: 0px;
    width: 195px;
}

.logo p{
    font-size: 12px;
    font-weight: 600;   
    color: var(--brand-color3); 
}

.time_wrapper, .location_wrapper, .btn_wrapper{
    
    display: flex;
    justify-content: center;
}

.time_wrapper{
    border-left: 1px solid var(--brand-color2);
    border-right: 1px solid var(--brand-color2);
}

.location_wrapper{
    border-right: 1px solid var(--brand-color2);
}

.time_work{
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;    
}

.location{
    width: 185px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

.call_wrapper{
    border-left: 1px solid var(--brand-color2);
    display: flex;
    justify-content: flex-end;
}

.call{
    display: flex;
    flex-direction: column;
    font-weight: 600;    
    line-height: 25px;
}

.call p{
    font-size: 20px;    
}

.call a{
    text-align: end;
    font-size: 14px;
    color: var(--brand-color2);
}

.header_menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--brand-color3);
    text-transform: uppercase;
}

.header_menu li{
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

.header_menu li:hover{
    color: var(--brand-color2);
    border-bottom: 3px solid var(--brand-color2);
    cursor: pointer;
}
